.main {
    min-height: 100vh;
}

.solutions {
    max-width: 1200px;
    margin: 0 auto;
    padding: 40px 20px 80px;
}

@media (min-width: 768px) {
    .solutions {
        padding: 60px 40px 120px;
    }
}